<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pl.daftacademy.alu.ppoljanski.homework5">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".Homework5App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".ActionBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- since API level 24 (Build.VERSION_CODES.N) -->
                <!-- <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" /> -->
            </intent-filter>
        </receiver>
        <!-- android:directBootAware="true" needed for LOCKED_BOOT_COMPLETED -->
        <!-- android:enabled="true" -->

        <service android:name=".ScanningService" />
        <!-- ??? -->
        <!-- android:enabled="false" -->
        <!-- android:exported="false" -->

        <service android:name=".AlarmNotificationService"
            android:exported="false" />

    </application>

</manifest>